In [57]:
import pandas as pd

In [58]:
_df=pd.read_csv("TASK1.csv")

In [59]:
type(_df)

pandas.core.frame.DataFrame

In [60]:
_df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,NaN,Male,Blouse,Clothing,NaN,Kentucky,L,Gray,Winter,NaN,yep,Credit Card,Express,Indeed,y,14,Venmo,Fortnightly
1,2,NaN,Male,Sweater,Clothing,NaN,Maine,L,Maroon,Winter,NaN,Yes,Bank Transfer,Express,Yes,Yo,2,Cash,Fortnightly
2,3,NaN,Male,Jeans,Clothing,NaN,Massachusetts,S,Maroon,Spring,NaN,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,NaN,Male,Sandals,Footwear,90.0,Rhode Island,M,Maroon,Spring,NaN,Yes,PayPal,Next Day Air,Indeed,Yo,49,PayPal,Weekly
4,5,NaN,Male,Blouse,Clothing,NaN,Oregon,M,Turquoise,Spring,NaN,Yo,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40.0,Female,Hoodie,Clothing,28.0,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,Nah,32,Venmo,Weekly
3896,3897,52.0,Female,Backpack,Accessories,49.0,Iowa,L,White,Spring,4.5,ille,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46.0,Female,Belt,Accessories,33.0,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,n,No,24,Venmo,Quarterly
3898,3899,44.0,Female,Shoes,Footwear,77.0,Minnesota,S,Brown,Summer,3.8,N,PayPal,Express,Nakko,No,24,Venmo,Weekly
3899,3900,52.0,Female,Handbag,Accessories,NaN,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,Nope,33,Venmo,Quarterly

In [61]:
_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               3900 non-null   int64
 1   Age                       3269 non-null   float64
 2   Gender                    3900 non-null   object
 3   Item Purchased            3900 non-null   object
 4   Category                  3900 non-null   object
 5   Purchase Amount (USD)     3285 non-null   float64
 6   Location                  3900 non-null   object
 7   Size                      3900 non-null   object
 8   Color                     3900 non-null   object
 9   Season                    3900 non-null   object
 10  Review Rating             3246 non-null   float64
 11  Subscription Status       3900 non-null   object
 12  Payment Method            3900 non-null   object
 13  Shipping Type             3900 non-null   object
 14  Discount Applied          3900 non-null   object
 15  Promo Code Used           3900 non-null   object
 16  Previous Purchases        3900 non-null   int64
 17  Preferred Payment Method  3900 non-null   object
 18  Frequency of Purchases    3900 non-null   object
dtypes: float64(3), int64(2), object(14)
memory usage: 579.0+ KB

In [62]:
_df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3269.000000,3285.000000,3246.000000,3900.000000
mean,1950.500000,43.973998,59.863014,3.744239,25.351538
std,1125.977353,15.216359,23.673623,0.719448,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.750000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [63]:
_df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Payment Method',
       'Shipping Type', 'Discount Applied', 'Promo Code Used',
       'Previous Purchases', 'Preferred Payment Method',
       'Frequency of Purchases'],
      dtype='object')

In [64]:
_df.shape

(3900, 19)

In [65]:
_df.columns = [c.replace(' ', '_') for c in _df.columns]

In [66]:
_df.Previous_Purchases

0       14
1        2
2       23
3       49
4       31
        ..
3895    32
3896    41
3897    24
3898    24
3899    33
Name: Previous_Purchases, Length: 3900, dtype: int64

In [67]:
_df.at[345,'Previous_Purchases']

27

In [68]:
_df.head(10)

,Customer_ID,Age,Gender,Item_Purchased,Category,Purchase_Amount_(USD),Location,Size,Color,Season,Review_Rating,Subscription_Status,Payment_Method,Shipping_Type,Discount_Applied,Promo_Code_Used,Previous_Purchases,Preferred_Payment_Method,Frequency_of_Purchases
0,1,NaN,Male,Blouse,Clothing,NaN,Kentucky,L,Gray,Winter,NaN,yep,Credit Card,Express,Indeed,y,14,Venmo,Fortnightly
1,2,NaN,Male,Sweater,Clothing,NaN,Maine,L,Maroon,Winter,NaN,Yes,Bank Transfer,Express,Yes,Yo,2,Cash,Fortnightly
2,3,NaN,Male,Jeans,Clothing,NaN,Massachusetts,S,Maroon,Spring,NaN,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,NaN,Male,Sandals,Footwear,90.0,Rhode Island,M,Maroon,Spring,NaN,Yes,PayPal,Next Day Air,Indeed,Yo,49,PayPal,Weekly
4,5,NaN,Male,Blouse,Clothing,NaN,Oregon,M,Turquoise,Spring,NaN,Yo,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6,NaN,Male,Sneakers,Footwear,NaN,Wyoming,M,White,Summer,2.9,Yes,Venmo,Standard,Yes,Haanji,14,Venmo,Weekly
6,7,NaN,Male,Shirt,Clothing,NaN,Montana,M,Gray,Fall,3.2,Of course,Debit Card,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8,NaN,Male,Shorts,Clothing,NaN,Louisiana,L,Charcoal,Winter,3.2,Yes,Debit Card,Free Shipping,Yes,Yes,19,Credit Card,Weekly
8,9,NaN,Male,Coat,Outerwear,NaN,West Virginia,L,Silver,Summer,NaN,Yes,Venmo,Express,Yes,Yes,8,Venmo,Annually
9,10,57.0,Male,Handbag,Accessories,31.0,Missouri,M,Pink,Spring,NaN,Yes,PayPal,2-Day Shipping,Yes,Yes,4,Cash,Quarterly

In [69]:
_df.tail(10)

,Customer_ID,Age,Gender,Item_Purchased,Category,Purchase_Amount_(USD),Location,Size,Color,Season,Review_Rating,Subscription_Status,Payment_Method,Shipping_Type,Discount_Applied,Promo_Code_Used,Previous_Purchases,Preferred_Payment_Method,Frequency_of_Purchases
3890,3891,35.0,Female,Shirt,Clothing,81.0,Nebraska,XL,Green,Winter,2.6,No,Credit Card,Standard,No,No,33,Debit Card,Annually
3891,3892,36.0,Female,Dress,Clothing,30.0,Colorado,L,Peach,Winter,4.7,No,Cash,Free Shipping,ille,No,6,Bank Transfer,Quarterly
3892,3893,35.0,Female,Jewelry,Accessories,86.0,Michigan,L,Indigo,Summer,3.5,No,Bank Transfer,Standard,No,Nah,5,PayPal,Fortnightly
3893,3894,NaN,Female,Hat,Accessories,64.0,Massachusetts,L,White,Fall,3.3,No,Bank Transfer,Store Pickup,No,FALSE,29,Bank Transfer,Bi-Weekly
3894,3895,66.0,Female,Skirt,Clothing,78.0,Connecticut,L,White,Spring,3.9,n,Cash,2-Day Shipping,No,Naaji,44,Credit Card,Every 3 Months
3895,3896,40.0,Female,Hoodie,Clothing,28.0,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,Nah,32,Venmo,Weekly
3896,3897,52.0,Female,Backpack,Accessories,49.0,Iowa,L,White,Spring,4.5,ille,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46.0,Female,Belt,Accessories,33.0,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,n,No,24,Venmo,Quarterly
3898,3899,44.0,Female,Shoes,Footwear,77.0,Minnesota,S,Brown,Summer,3.8,N,PayPal,Express,Nakko,No,24,Venmo,Weekly
3899,3900,52.0,Female,Handbag,Accessories,NaN,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,Nope,33,Venmo,Quarterly

In [70]:
_df.loc()

In [71]:
_df.isnull().sum()

Customer_ID                   0
Age                         631
Gender                        0
Item_Purchased                0
Category                      0
Purchase_Amount_(USD)       615
Location                      0
Size                          0
Color                         0
Season                        0
Review_Rating               654
Subscription_Status           0
Payment_Method                0
Shipping_Type                 0
Discount_Applied              0
Promo_Code_Used               0
Previous_Purchases            0
Preferred_Payment_Method      0
Frequency_of_Purchases        0
dtype: int64

In [73]:
_df.Purchase_Amount_(USD).plot();

AttributeError: 'DataFrame' object has no attribute 'Purchase_Amount'